.screenBackground {
  background: linear-gradient(to right, #b4bdc8 50%, #209288 50%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
  font-family: "Unbounded", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  font-size: 48px;
  font-weight: 700;
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.logo img {
  height: 10rem;
}

.inputs {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 5px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #e2e2e2;
  border-radius: 6px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.input svg {
  margin: 0px 30px;
  color: #797979;
}

.errorMessage {
  color: #e53935;
  font-size: 0.9rem;
  margin: 0;
  width: 480px;
}

.forgot_password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot_password span {
  color: #209288;
  cursor: pointer;
}

.submit_container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background-color: #209288;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.submit_gray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  background-color: rgba(128, 128, 128, 0.6);
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}
